<?xml version="1.0" encoding="utf-8"?>
<Config>
    <run>
        <debugMode>True</debugMode>
        <deterministicModel>False</deterministicModel>
        <locationErrorModel>False</locationErrorModel>
        <locationErrorRate>0</locationErrorRate>
        <applyLowRevenueHeuristic>True</applyLowRevenueHeuristic>
        <checkBrokenChains>True</checkBrokenChains>
        <fullTimeLimit>0</fullTimeLimit>
        <heuristicGap>0.1</heuristicGap>
        <mamiThreshold>0.05</mamiThreshold>
        <algThreshold>0.05</algThreshold>
        <initialRealisticCapacity>550</initialRealisticCapacity>
        <limitUserReqs>True</limitUserReqs>
        <levyWalk>False</levyWalk>
        <levyWalkExitRate>0.15</levyWalkExitRate>
        <end2endLatency>False</end2endLatency>
		<placeAtUserLoc>False</placeAtUserLoc>
        <nonSplitMode>False</nonSplitMode>
        <iterations>1</iterations>
    </run>
    <requests>
        <syntheticRequests>True</syntheticRequests>
        <seed>44</seed>
        <duration>3</duration>
        <revenueMean>200</revenueMean>
        <revenueStd>10</revenueStd>
        <initialRequestsPerSec>200</initialRequestsPerSec>
        <additionalRequestsPerSec>20</additionalRequestsPerSec>
        <threshold>0</threshold>
        <numPredPerRequest>0</numPredPerRequest>
        <mergeProbabilitiesFile>False</mergeProbabilitiesFile>
    </requests>
    <functions>
        <syntheticFunctions>True</syntheticFunctions>
        <functionNormalDist>True</functionNormalDist>
        <numberOfFunctions>20</numberOfFunctions>
        <meanFunctionSize>4</meanFunctionSize>
        <meanLaunchTime>1</meanLaunchTime>
    </functions>
    <apps>
        <syntheticApps>True</syntheticApps>
        <normalDistApps>True</normalDistApps>
        <zipfDistApps>False</zipfDistApps>
        <numberOfApps>9</numberOfApps>
        <meanAppPairs>3</meanAppPairs>
        <stdPairConstrains>1</stdPairConstrains>
        <appPairsStd>1</appPairsStd>
        <meanPairConstraint>10</meanPairConstraint>
        <specificAppSizes>4</specificAppSizes>
        <normalDistLatencyConstAppSize>False</normalDistLatencyConstAppSize>
    </apps>
    <dc>
        <dcFromCoordinates>True</dcFromCoordinates>
        <stateCost>10</stateCost>
        <capacity>0</capacity>
        <capacityRatioThreshold>1</capacityRatioThreshold>
        <dynamicStateCost>False</dynamicStateCost>
        <dynamicStateCostStepPercent>0</dynamicStateCostStepPercent>
        <dcUtilization>0.5</dcUtilization>
    </dc>
    <links>
        <allowedRange>1</allowedRange>
        <delay>6</delay>
        <bw>200</bw>
    </links>
    <batchRun>
		<values>1</values> <!--Set values for chosen main parameter-->
        <optimizationRunType>0</optimizationRunType>
        <regularRun>True</regularRun>
        <fullRun>False</fullRun>
        <onlineRun>False</onlineRun>
        <locationError>False</locationError>
        <onlineFullRun>False</onlineFullRun>
        <adversarialRun>False</adversarialRun>
        <mamiRun>False</mamiRun>  <!--Baseline-->
    </batchRun>
</Config>
